<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngularJS.Animate" version="1.5.8" targetFramework="net452" />
  <package id="AngularJS.Aria" version="1.5.8" targetFramework="net452" />
  <package id="AngularJS.Cookies" version="1.5.8" targetFramework="net452" />
  <package id="AngularJS.Core" version="1.5.8" targetFramework="net452" />
  <package id="AngularJS.Locale" version="1.5.8" targetFramework="net452" />
  <package id="AngularJS.Resource" version="1.5.8" targetFramework="net452" />
  <package id="AngularJS.Route" version="1.5.8" targetFramework="net452" />
  <package id="AngularJS.Touch" version="1.5.8" targetFramework="net452" />
</packages>